@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-gray-100 font-sans antialiased;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* 字体：微软雅黑 */
.font-microsoft-yahei {
    font-family: "Microsoft YaHei", sans-serif;
}

/* 字体：仿宋GB2312 */
.font-fangsong {
    font-family: "FangSong", sans-serif;
}

/* 字体：JetBrains Mono */
.font-jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
}

.separator-container {
    .separator-item {
        &:not(:first-child)::before {
            content: '|';
            margin: 0 10px;
            color: #e5e5e5;
        }
        color: #000000;
    }
}

.list-circle {
    list-style-type: circle;
}